{@org.jaw.qutetable.gentable.templatedata.TableDialogData data}
<!---------------------------------------------------------->
<!--suppress HtmlFormInputWithoutLabel -->
<div class="dialog-header"><b>Dialog:</b> {data.dialogTitle}</div>
<!---------------------------------------------------------->
<div class="toolbar">
  <!----------------------------------------->
  <!-- ************ SEARCH BAR *********** -->
  <div class="dialog-search-group">
    <input id="tableSearchField" name="filter" type="text"
           placeholder="Search (fulltext or :column (:name=Max) - STRG+SPACE"
           value="{data.initialFilter}">
    <button class="server-btn, disableOnLoad"
            hx-get="{data.tableDataPath}"
            hx-include="#tableSearchField, #tableSortColumnName, #tableSortDirection, #maxRowsInput"
            hx-target="#tableArea" hx-swap="innerHTML"
            hx-indicator=".disableOnLoad"
    >Server
    </button>
    <label>#Rows:</label>
    <input type="number" id="maxRowsInput" name="maxRows" value="20">
    <input type="hidden" id="tableSortColumnIdx" name="sortIdx" value="none">
    <input type="hidden" id="tableSortColumnName" name="sortCol" value="none">
    <input type="hidden" id="tableSortDirection" name="sortDir" value="none">
    <input id="tableSortSpec" value="" disabled></div>
</div>
<!----------------------------------------->
<!-- ************ TABLE AREA *********** -->
<div id="tableArea" class="table-wrapper disableOnLoad">
    {#include generictable/tableGrid/}
</div>
