{@org.jaw.qutetable.gentable.templatedata.TableDialogData data}
<div id="masterDetailPane" class="resize-container">
  <div id="mainTablePane" class="main-table resize-top">
    <table id="genericTable" class="table">
      <!------------------------------------------------------------------------------------>
      <thead id="genericTableHeader" class="table-header">
      <tr>
        {#for col in data.columns}
          <th class="main-th" title="{col.description}" data-colidx="{col_index}">{col.name}<div class="resizer"></div></th>
        {/for}
      </tr>
      </thead>
      <!------------------------------------------------------------------------------------>
      <tbody id="genericTableBody" class="table-body">
      {#for row in data.rows}
        <tr class="row-clickable" details='{row.getDetailsJson()}' jsonDetails='{row.jsonDetails}'>
          {#for cell in row.cells}
            <td class="main-td" title="{cell.description}">{cell.content}</td>
          {/for}
        </tr>
      {/for}
      </tbody>
      <!------------------------------------------------------------------------------------>
    </table>
    <div id="resizeSeparator" class="resize-separator"></div>
  </div>
  <div id="detailPane" class="resize-bottom">
    <div class="detailColumnPane">
      <!--span class="detail-header">Details</span-->
      <div id="kvContent"><p>Select a Row...</p></div>
    </div>
    <div id="detailJsonPane" class="detailJsonPane">
      <span class="detail-header">JSON Details</span>
      <div id="jsonContent" class="jsonContent"></div>
    </div>
  </div>
</div>