{@org.jaw.qutetable.ApplicationMenu menu}
<div class="sidebar-header">
  <span class="menu-title">Dialog Tree</span>
  <button class="sidebar-toggle-button" onclick="document.getElementById('app-sidebar-left').classList.toggle('collapsed')">☰</button>
</div>
<!--------- Application Menu ------->
<nav class="menu-area">
  <ul class="menue-list">
    {#for menuItem in menu.flatMenuItems}
      <li id="node-{menuItem.fullPath}" class="menu-item"
          data-level="{menuItem.level}"
          data-path="{menuItem.fullPath}"
          data-parent="{menuItem.parentPath}"
          style="padding-left: {menuItem.padding}; {#if menuItem.level > 0}display: none;{/if}">
        {#if menuItem.isLeaf}
          <button class="menu-button menu-link"
                  hx-get={menuItem.dialogResourcePath} hx-target="#dialogArea" hx-swap="innerHTML">
            <span class="menu-icon"></span> {menuItem.label}
          </button>
        {#else}
          <button class="menu-button menu-node">
            <span class="menu-icon">▶</span> {menuItem.label}
          </button>
        {/if}
      </li>
    {/for}
  </ul>
</nav>
