<div class="app-container" hx-on::beforeSend="interceptHTMX(event)">
  <aside id="sidebar">
      {#include application-nav.html /}
  </aside>

  <main>
    <header style="margin-bottom:1rem;"><h1>Table Dialog</h1></header>

    <div class="toolbar">
      <div class="search-group">
        <input type="text" id="userInput" name="filter" class="search-input"
               placeholder="Suche (z.B. name:max & pos:dev) - STRG+SPACE" onkeyup="localFilter()">
        <button class="server-btn"
                hx-get="/api/data"
                hx-include="#userInput, [name='sortCol'], [name='sortDir']"
                hx-target="#tableArea" , hx-swap="innerHTML"
        >
          🔍 Server
        </button>
      </div>
      <input type="hidden" name="sortCol" value="none">
      <input type="hidden" name="sortDir" value="none">
    </div>
    <div id="tableArea" class="table-wrapper">
        {#include tableDialogDatagrid.html /}
    </div>
  </main>
</div>

<footer id="statusbar">
  <div>
    Status: <span id="stEvent" class="status-val">Ready</span> |
    Query: <span id="stQuery" class="status-val">-</span> |
    Sort: <span id="stSort" class="status-val">-</span>
  </div>
  <div style="opacity:0.5">HTMX Intercept Active</div>
</footer>

  {#include application-scripts.html /}
