{@org.jaw.qutetable.gentable.TableDialogData data}
<table id="genericTable">
  <!------------------------------------------------------------------------------------>
  <thead id="genericTableHeader">
  <tr>
    {#for col in data.columns}
      <th title="{col.description}" , onclick="localSortTable({col_index})">{col.name}</th>
    {/for}
  </tr>
  </thead>
  <!------------------------------------------------------------------------------------>
  <tbody id="genericTableBody">
  {#for row in data.rows}
    <tr>
      {#for cell in row.cells}
        <td title="{cell.description}">{cell.content}</td>
      {/for}
    </tr>
  {/for}
  </tbody>
  <!------------------------------------------------------------------------------------>
</table>
