<table id="userTable">
  <thead>
  <tr>
    <th title="The Name Column" , onclick="localSort(0)">Name</th>
    <th title="" , onclick="localSort(1)">Position</th>
    <th onclick="localSort(2)">E-Mail</th>
    <th onclick="localSort(3)">Status</th>
  </tr>
  </thead>
  <tbody id="userTableBody">
  {#each entries}
    <tr>
      <td><strong>{it.name}</strong></td>
      <td>{it.postion}</td>
      <td>{it.eMail}</td>
      <td><span class="badge">{it.status}</span></td>
    </tr>
  {/each}
  </tbody>
</table>
