{@org.jaw.qutetable.app.AppData appData}
<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{appData.title}</title>
    <link rel="stylesheet" href="/webui/styles.css">
</head>
<body>
<script src="/_importmap/generated_importmap.js"></script>
<script type="module" src="/webui/scripts.js" defer></script>

<header class="app-header">{appData.title}</header>

<div class="app-container">
    <!--------- Application Menu ------->
    <aside id="app-sidebar-left" class="app-sidebar-left">
        {#include webui/appMenu.html/}
    </aside>
    <!--------- Application Main Area (Dialog Area) ------->
    <div class="app-main-area">
        <div id="appDialogArea" class="app-dialog-area">
            <h3>Select a Dialog!</h3>
        </div>
    </div>
</div>
<!--------- Status Bar ------->
<footer id="statusbar" class="app-footer">
    <div>
        Status: <span id="requestStatus" class="status-val">Ready</span> |
        Query: <span id="statusText" class="status-val">-</span>
    </div>
</footer>
</body>
</html>
